{% assign_local c = "heading-text" %}

<div class="{{ c }}">
    {% if heading %}
        <{{ heading_level }}>{{ heading }}</{{ heading_level }}>
    {% endif %}
    {% if text %}
        <p>{{ text }}</p>
    {% endif %}
    
    {% if button %}
        {% bookshop "global/button" bind: button %}   
    {% endif %}
</div>