{% assign c = "heading-text" %}

<div class="{{ c }}">
    <{{ heading_level  }}>{{ heading }}</{{ heading_level }}>
    <p>{{ text }}</p>
    {% if button %}
        {% bookshop "global/button" bind: button %}
    {% endif %}
</div>