{% assign_local c = "shared-bg-hero" %}

<section class="{{ c }}" style="--background-image:url({{ bg_image }})" >
   <!-- Best practices question: is there any reason to use an img tag instead of setting the background-image property of this container?? -->
   {% comment %} {% if bg_image %}
      <img class="{{ c }}__svg-img" src={{ bg_image }} alt="" />
   {% endif %} {% endcomment %}
   <div class="{{ c }}__wrapper content-block">
      {% bookshop "heading-text" bind: heading-text %}
   </div>
</section>