{% assign_local c = "shared-bg-left-right" %}

<section class="{{ c }}" style="--background-image:url({{ bg_image }})">
   <div class="content-block">
      {% if image_on_left == true %}
         {% if image %}
            <div class="{{ c }}__img {{ c }}__img--image-on-left">
               <img src={{ image }} alt={{ image_alt }} />
            </div>
         {% endif %}
         <div class="{{ c }}__text {{ c }}__text--image-on-left">
            {% bookshop "heading-text" bind: heading-text %}
         </div>
      {% else %}         
         <div class="{{ c }}__text">
            {% bookshop "heading-text" bind: heading-text %}
         </div>
         {% if image %}
            <div class="{{ c }}__img">
               <img src={{ image }} alt={{ image_alt }} />
            </div>
         {% endif %}
      {% endif %}      
   </div>
</section>