{% assign_local c = "c-master-slider" %}

<section class="{{ c }}" style="
    --background-image:url({{ bg_image }});
    --card-border-radius:{{ card_border_radius }}%;
    --image-border-radius:{{ image_border_radius }}%;
"
    x-data="{ 
        carouselChildren: [...$refs.carousel.children],
        firstCardWidth: $refs.carousel.querySelector('.card').offsetWidth,
        cardPerView: 0,
        isDragging: false,
        startX: 0,
        startScollLeft: 0,
        init(){
            this.cardPerView = Math.round($refs.carousel.offsetWidth / this.firstCardWidth);

            this.carouselChildren.slice(-this.cardPerView).reverse().forEach(card => {
                $refs.carousel.insertAdjacentHTML('afterbegin', card.outerHTML);
            });
            
            this.carouselChildren.slice(0, this.cardPerView).forEach(card => {
                $refs.carousel.insertAdjacentHTML('beforeend', card.outerHTML);
            });
        },
        dragging($event) {
            if(!this.isDragging) return;
            $refs.carousel.scrollLeft = this.startScrollLeft - ($event.pageX - this.startX);
        },
        dragStart($event) {
            this.isDragging = true;
            $refs.carousel.classList.add('carousel--dragging');
            this.startX = $event.pageX;
            this.startScrollLeft = $refs.carousel.scrollLeft;
        },
        dragStop() {
            this.isDragging = false;
            $refs.carousel.classList.remove('carousel--dragging');
        },
        scroll(dir){
            $refs.carousel.scrollLeft += dir === 'left' ? -this.firstCardWidth : this.firstCardWidth;
        },
        infiniteScroll(){
            if($refs.carousel.scrollLeft === 0){
                $refs.carousel.classList.add('carousel--no-transition');
                $refs.carousel.scrollLeft = $refs.carousel.scrollWidth - (2 * $refs.carousel.offsetWidth);
                $refs.carousel.classList.remove('carousel--no-transition');
            }
            else if(Math.ceil($refs.carousel.scrollLeft) === $refs.carousel.scrollWidth - $refs.carousel.offsetWidth){
                $refs.carousel.classList.add('carousel--no-transition');
                $refs.carousel.scrollLeft = $refs.carousel.offsetWidth;
                $refs.carousel.classList.remove('carousel--no-transition');
            }
        }
    }"
    >
    <div class="{{ c }}__wrapper content-block">     
        {% if heading_text %}   
            {% bookshop "heading-text" bind: heading_text %}        
        {% endif %}

        {% if env_bookshop_live %}
            {% bookshop "dev-note" text: 'Note that the infinite scrolling functionality of this component will not work while live editing... you will need to save and refresh the page to make the scrolling work.' %}
        {% endif %}

        <div class="carousel_wrapper">
            <i class="fa-solid fa-chevron-left btn  btn--left" @click="scroll('left')"></i>
            <ul x-ref="carousel" class="
                carousel
                {{ type }}
            " 
                @mousemove="dragging" 
                @mousedown="dragStart"
                @mouseup.window="dragStop"
                @scroll="infiniteScroll"
            >
                {{ inner_slides }}     
            </ul>
            <i class="fa-solid fa-chevron-right btn btn--right" @click="scroll('right')"></i>
        </div>        

    </div>
</section>