{% assign_local c = 'button' %}

<button class="{{ c }}" style="
  --button-background-color: {{ button_color }};
  --button-text-color: {{ button_text_color }};
">
  <a 
  class='{{ c }}__link' 
  href='{{ path }}'  
  >
    {{ button_text }}
  </a>
</button>
